<div class="container pt-5">
    <div class="row">
        <div class="col-md-12 offset-md-3">
            <h1>Bienvenido, {{usuario}}</h1>
            <p>Información de la última sesión:</p>
            <ul class="list-group">
                <li class="list-group-item">Intentos de inicio de sesión fallidos: {{intentosFallidos}}</li>
                <li class="list-group-item">Hora de inicio: {{horaInicio}}</li>
                <li class="list-group-item">Hora fin: {{horaFin}}</li>
            </ul>
        </div>
    </div>
</div>